
editable-text {
    position: relative;
    display: inline-block;
    border-left: 3px solid rgba(35, 183, 255, 0.5);
    margin-bottom: 0.25rem;
}

.editable-text-content {
    padding: 0.25rem;
    font-size: 1.2rem;
    line-height: 1;
    font-family: Calibri, Arial, sans-serif;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.3s;
    white-space: pre-wrap;
    word-break: break-word;
    min-width: 3em;
    min-height: 1.2rem;
}


.editable-text-content:hover {
    background-color: rgba(35, 183, 255, 0.3);
    border-radius: 0;
}

.editable-text-content.edit {
    background-color: rgba(35, 183, 255, 0.3);
}

.editable-text-input {
    width: 100%;
    height: inherit;
    padding: 0.25rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 1.2rem;
    line-height: 1;
    font-family: Calibri, Arial, sans-serif;
    border-radius: 0;
    background-color: white;
    box-shadow: none;
    border: 0;
    resize: none;
    overflow:hidden;
    white-space: pre-wrap;
    word-break: break-word;
}

.editable-text-input:active, .editable-text-input:focus {
    outline: 0;
}
